.poster {
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 0;
}

.poster img {
    height: 100%;
    width: 65%;
}

.poster .poster-rectangle {
    width: 400px;
    height: 400px;
    background-color: white;
    top: -5%;
    right: 25%;
    z-index: 1;
    position: absolute;
    transform: rotateZ(45deg);
    border-radius: 20px;
}

.poster .poster-rectangle::after {
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: 5px #4f9468 solid;
    border-left: 5px #4f9468 solid;
    display: block;
    position: absolute;
    top: 15px;
    right: -25px;

    border-radius: 20px;
}

.poster .poster-text {
    width: 47%;
    height: 55%;
    background-color: white;
    z-index: 2;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    right: 0;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}

.poster-text button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4f9468;
    color: white;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.poster-text button svg {
    height: 100%;
    aspect-ratio: 1;
}

.poster-text p {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .poster .poster-rectangle {
        right: 18%;
    }

    .poster .poster-text {
        width: 49%;
    }
}

@media screen and (max-width: 900px) {
    .poster {
        height: 40%;
    }

    .poster .poster-text {
        padding-right: 70px;
    }

    .poster .poster-rectangle {
        width: 350px;
        height: 350px;
        top: -13%;
        right: 15%;
    }
}

@media screen and (max-width: 750px) {
    .poster {
        height: 35%;
    }

    .poster img {
        width: 55%;
    }

    .poster .poster-rectangle {
        height: 300px;
        width: 300px;
        right: 15%;
        top: -13%;
    }

    .poster .poster-text {
        padding-right: 30px;

        font-size: 14px;
    }

    .poster .poster-text p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 600px) {
    .poster img {
        width: 60%;
    }

    .poster .poster-rectangle {
        right: 3%;
        top: -13%;
    }
}

@media screen and (max-width: 550px) {
    .poster {
        height: 60%;
        flex-direction: column;
    }
    .poster img {
        width: 110%;
        height: 65%;
        object-fit: cover;
    }

    .poster .poster-rectangle {
        right: -250px;
        top: -40px;
        width: 350px;
        height: 350px;
    }

    .poster .poster-text {
        width: 100%;
        height: 35%;
        position: absolute;
        top: auto;
        bottom: 0;
        transform: translateY(0);
    }
}

@media screen and (max-width: 500px) {
    .poster .poster-text p {
        font-size: 13px;
    }

    .poster .poster-text h2 {
        font-size: 16px;
    }

    .poster .poster-text button {
        padding: 5px;
        height: 40px;
        width: 120px;
    }
}

@media screen and (max-width: 400px) {
    .poster .poster-text p {
        font-size: 11px;
    }

    .poster .poster-text h2 {
        font-size: 14px;
    }

    .poster .poster-text button {
        height: 30px;
        width: 100px;
    }
}
