.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  direction: rtl;
  margin-right: 10%;
  overflow: visible;
  z-index: 1;
}

.navItem {
  margin-inline: 5px;
  cursor: pointer;
  position: relative;
  overflow: visible;
  min-width: 50px;
  text-align: center;
  padding: 10px;
  padding-block: 20px;
  border-radius: 10px;
}

.navbar > div:first-of-type {
  position: absolute;
  right: 7%;
}

.navbar > div:last-of-type {
  position: absolute;
  left: 7%;
}

.drop_down {
  position: absolute;
  display: none;
  width: fit-content;
  padding-right: 10px;
  color: #000;

  right: 0;
  top: 100%;
  width: 200px;

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #a2a1a186;
}

.drop_down a {
  width: 100%;
  padding-top: 0;
  margin-block: 10px;
}

.navItem:hover a + .drop_down,
.drop_down:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}
